'.source.js.jsx':

  # REACT | NEW PRESENTATION COMPONENT (METHOD, STATELESS) MOBX
  # pcm
  'Presentation Comp. mobx':
    'prefix': 'pcm'
    'body': """
    import React from 'react';
    import {observer, inject, PropTypes} from 'mobx-react';
    // import {string} from 'prop-types';

    const ${1:componentName} = ({${2:someProperty}}) => {
      return <span>{${2:someProperty}}</span>;
    };

    ${1:componentName}.propTypes = {
      ${2:someProperty}: PropTypes.observableObject.isRequired
    };

    export default inject(
      ({store}) => {
        return {
          ${2:someProperty}: store.${2:someProperty}
        };
      }
    )(observer(${1:componentName}));"""

  # EXPORT DEFAULT MOBX
  # expm
  'Exp. Default mobx':
    'prefix': 'expm'
    'body': """
    export default inject(
      ({store}) => {
        return {
          ${2:someProperty}: store.${2:someProperty}
        };
      }
    )(observer(${1:componentName}));"""
